@import "tailwindcss";

@theme {
  --color-bg: oklch(0.17 0.01 240);
  --color-bg-secondary: oklch(0.24 0.015 240);
  --color-text: oklch(0.95 0 0);
  --color-text-muted: oklch(0.75 0.01 260);
  --color-primary: oklch(0.7 0.14 255);
  --color-primary-hover: oklch(0.75 0.15 255);
  --color-accent: oklch(0.85 0.09 25);
  --color-border: oklch(0.3 0.01 240);

  --font-outfit: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-bg text-text font-outfit tracking-tight overflow-x-hidden;
  }

  html {
    @apply scroll-smooth;
  }

  button {
    @apply cursor-pointer;
  }
}
